<!-- call the markdown_to_html method on string/text arguments to convert it to html
  ensure that you do this in posts/show as well in order to for it to parse the titles
-->

<h1> <%= markdown_to_html @post.title %> </h1>

<div class = "row" >
  <div class = "col-md-8">
      <small>
        <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by
        <%= @post.user.name %>
      </small>
    <p> <%= markdown_to_html @post.body %> </p>
    <%= render partial: '/comments/form', locals: {topic: @topic, post: @post} %>
    <%= render partial: 'comment', locals: {topic: @topic, post: @post, comments: @post.comments} %>
  </div>
</div>

<%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-warning'%>